.app__product_screen {
}

.app__product_screen-wrapper {
  padding: 50px;
  display: flex;

  @media only screen and (max-width: 700px) {
    padding: 10px;
    flex-direction: column;
  }
}

.app__product_screen-img_container {
  flex: 1;
}
.app__product_screen-img {
  width: 100%;
  height: 90vh;
  object-fit: contain;

  @media only screen and (max-width: 700px) {
    height: 40vh;
  }
}
.app__product_screen-info {
  flex: 1;
  padding: 0px 50px;

  @media only screen and (max-width: 700px) {
    padding: 10px;
  }
}
.app__product_screen-title {
  font-weight: 200;
}
.app__product_screen-description {
  margin: 20px 0px;
}
.app__product_screen-price {
  font-weight: 100;
  font-size: 40px;
}
.app__product_screen-filter_container {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}
.app__product_screen-filter {
  display: flex;
  align-items: center;
}

.app__product_screen-filter_title {
  font-size: 20px;
  font-weight: 200;
}
.app__product_screen-filter_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}

.app__product_screen-filter_size {
  margin-left: 10px;
  padding: 5px;
}
.app__product_screen-add {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.app__product_screen-add_amount_container {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.app__product_screen-add_amount_button {
  border: none;
  background-color: transparent;
}

.app__product_screen-add_amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.app__product_screen-add_button {
  min-width: 120px;
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #f8f4f4;
  }
}
