* {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}
